.marker__balloon {
    width: 200px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
    position:relative;
    
}
.marker_ballonName{
    color:black;
    padding-bottom: 10px;
    font-size: 15px;
    text-shadow:4px 4px 10px rgb(151, 142, 142);
    
}
.marker_ballonName:hover{
    color:blue;
}


